/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 30px 0;
    border-bottom: 5px solid #ddd;
}

.header-content {
    
}

.logo {
    float: left;
    font-size: 21px;
    font-weight: bold;
    color: #7a1755;
    text-decoration: none;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #7a1755;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #5a0e40;
}

/* food Section */
.food {
    padding: 60px 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.food-content {
    float: left;
    width: 70%;
}

.food-image {
    float: center;
    width: 90%;
}

.food-image img {
    width: 100%;
    height: auto;
}

/* Search Bar */
.search-bar {
    margin-top: 20px;
}

.search-bar select,
.search-bar button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.search-bar select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px ;
    border: none;
    border-radius: 8px;
    background-color: #7a1755;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.search-bar button:hover {
    background-color: #5a0e40;
}

/* Featured Recipes Section */
.featured-recipes {
    padding: 80px 0;
    background-color: #f5f5f5;
}

.featured-recipes h2 {
    font-size: 28px;
    color: #7a1755;
    margin-bottom: 20px;
    text-align: center;
}

.featured-recipes p {
    font-size: 21px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}


.recipe-card {
    display: inline-block;
    width: 30%; /* Width of each card */
    box-sizing: border-box;
    padding: 10px;
    margin: 1%; /* Margin around each card */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    vertical-align: top; /* Align cards at the top */
    height: 90%; /* Fixed height for consistency */
}

.recipe-card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.recipe-card h3 {
    font-size: 24px;
    color: #7a1755;
    margin: 15px;
    text-align: center;
}

.recipe-card p {
    font-size: 16px;
    color: #555;
    margin: 0 15px 15px;
}

.recipe-card .btn {
    background-color: #7a1755;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 0 0 8px 8px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 14px;
    transition: background-color 0.3s;
    cursor: pointer
}

/* Contact Section */
.contact {
    padding: 80px 0;
    background-color: #fff;
    text-align: center;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Footer Styles */
footer {
    color: #fff;
    background-color: #7a1755;
    padding: 20px 0;
    text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .food-content,
    .food-image {
        float: none;
        width: 100%;
    }

    .recipe-card {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .recipe-grid {
        overflow: visible; /* Clearfix for floated children */
    }
}
